# ========================
# Environment Variables
# ========================
.env
.env.local
.env.development
.env.production
frontend/.env
backend/.env

# ========================
# Node Modules
# ========================
node_modules/
frontend/node_modules/
backend/node_modules/

# ========================
# Build Output
# ========================
frontend/build/
frontend/dist/

# ========================
# Logs
# ========================
logs/
*.log
npm-debug.log*

# ========================
# uploads (product images)
# ========================
backend/uploads/

# ========================
# PostgreSQL
# ========================
*.sql
*.dump

# ========================
# OS Files
# ========================
.DS_Store
Thumbs.db

# ========================
# VS Code
# ========================
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json